<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot Thymeleaf Hello World Example</title>
        <meta charset="utf-8" />

        <!-- CSS and JS includes -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <form th:action="@{/login}" method="POST" class="form-signin">

            <h3 class="form-heading" th:text="#{login.welcome_message}"></h3>

            <div class="form-group ${error != null ? 'has-error' : ''}">

                <input name="username" type="text" class="form-control" th:placeholder="#{login.username}"/>
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.submit}"></button>
            </div>

            <p th:text="${build_artifact} + ${build_version}" />

        </form>

        <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

    </body>
</html>