<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot Thymeleaf Hello World Example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


        <!-- CSS and JS includes -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
        <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
        <link href="../static/css/fullcalendar.css" th:href="@{/css/fullcalendar.css}" rel="stylesheet" />
        <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
        <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
        <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script src="../static/js/moment.min.js" th:src="@{/js/moment.min.js}"></script>
        <script src="../static/js/fullcalendar.min.js" th:src="@{/js/fullcalendar.min.js}"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}">
                        <i class="fas fa-home fa-4x"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shutter-control}">
                        <i class="fas fa-toolbox fa-4x"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">
                        <i class="fas fa-clipboard-list fa-4x"></i>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/temperature}">
                        <i class="fas fa-thermometer-half fa-4x"></i>
                    </a>
                </li>

                <li class="nav-item" th:each="i : ${#numbers.sequence( 1, webcam_count)}">
                    <a class="nav-link" th:href="@{${'/webcams/' + i}}">
                        <i class="fas fa-camera fa-4x"></i>
                    </a>    
                </li>
            </ul>

            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="light-grey-color" th:text="${build_version}" />
                    <a class="light-grey-color" th:text="${build_artifact}" />
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}">
                        <i class="fas fa-cogs fa-4x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-door-open fa-4x"></i>
                    </a>
                </li>
            </ul>
        </nav>


        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col">
                    <i class="fas fa-thermometer-half fa-3x">
                        <a th:text="${temperature.temperature}" />
                    </i>
                    <h4 th:text="#{temperature.now.current_temperature}"></h4>
                    <div>

                    </div>
                </div>
                <div class="col">
                    <i class="fas fa-tint fa-3x">
                        <a th:text="${temperature.humidity}" />
                    </i>
                    <h4 th:text="#{temperature.now.current_humidity}"></h4>
                </div>
            </div>

            <br>
                <br>

                    <h2 th:text="#{temperature.table.header}"></h2>
                    <p th:text="#{temperature.table.subheader}"></p>

                    <div id='calendar'></div>

                    </div>


                    <script th:inline="javascript">

                        $(document).ready(function () {

                            $('#calendar').fullCalendar({
                                eventSources: [
                                    {
                                        url: '/temperature/events/max-and-min'
                                    }
                                ]
                            });
                        });
                    </script>

                    </body>
                    </html>