<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="library_includes :: frontend_libraries" />
    <body>

        <div th:replace="header_navigation :: header_nav"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <i class="fas fa-thermometer-half fa-3x">
                        <a th:text="${temperature.temperature}" />
                    </i>
                    <h4 th:text="#{temperature.now.current_temperature}"></h4>
                    <div>

                    </div>
                </div>
                <div class="col">
                    <i class="fas fa-tint fa-3x">
                        <a th:text="${temperature.humidity}" />
                    </i>
                    <h4 th:text="#{temperature.now.current_humidity}"></h4>
                </div>
            </div>

            <br>
                <br>

                    <h2 th:text="#{temperature.table.header}"></h2>
                    <p th:text="#{temperature.table.subheader}"></p>

                    <div id='calendar'></div>

                    </div>


                    <script th:inline="javascript">

                        $(document).ready(function () {

                            $('#calendar').fullCalendar({
                                eventSources: [
                                    {
                                        url: '/temperature/events/max-and-min'
                                    }
                                ]
                            });
                        });
                    </script>

                    </body>
                    </html>