<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot Thymeleaf Hello World Example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- CSS and JS includes -->
        <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script src="../static/js/popper.js" th:src="@{/js/popper.js}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
        <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
        <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
        <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}">
                        <i class="fas fa-home fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">
                        <i class="fas fa-clipboard-list fa-2x"></i>
                    </a>
                </li>
                
                <div th:each="i : ${#numbers.sequence( 1, webcam_count)}">
                    <div th:if="${i eq camNumber}">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{${'/webcams/' + i}}">
                                <i class="fas fa-camera fa-2x"></i>
                            </a>    
                        </li>
                    </div>
                    <div th:unless="${i eq camNumber}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{${'/webcams/' + i}}">
                                <i class="fas fa-camera fa-2x"></i>
                            </a>    
                        </li>
                    </div>

                </div>
            </ul>

            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="light-grey-color" th:text="#{timetable.webcam}" />
                    <a class="light-grey-color" id="camNumber" th:text="${camNumber}" />
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt fa-2x"></i>
                    </a>
                </li>
            </ul>
        </nav>


        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dimensionBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dimensionBtn">
                            <a th:each="i : ${dimensions}" class="dropdown-item" th:id="${'dd-dimension-' + i}" th:text="${i}" th:value="${i}"></a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button disabled th:id="webcam-reload" class="btn btn-primary btn-lg">
                        <i th:id="current-resolution" class="fa fa-sync-alt fa-lg"></i>
                    </button>
                </li>
            </ul>
        </nav>

        <p>
            <img id="camPreview" src="" />
        </p>

        
        <script th:inline="javascript">

                                $('body').on('click', '.dropdown-item', function (e) {
                                    var t = $(this);
                                    var dimension = t.attr("value");
                                    var camNumber = $('#camNumber').text();
                                    var postUrl = "/webcams/image";
                                    
                                    console.log('calling getImage with:' + dimension + camNumber);
                                    
                                    $.ajax({
                                            url: postUrl,
                                            method: 'POST',
                                            cache: false,
                                            //dataType: 'json',
                                            data: {
                                                dimension: dimension,
                                                camNumber: camNumber
                                            }
                                })
                                .done(function (data) {
                                    console.log("Successful loading image from webcam");
                                    document.getElementById("camPreview").src = "data:image/png;base64," + data;
                                    $("#webcam-reload").prop('disabled', false);
                                    $("#current-resolution").text(dimension);
                                    
                                })
                                .fail(function (xhr, ajaxOptions, thrownError) {
                                    console.log("Error while loading image from webcam");
                                    $("#webcam-reload").prop('disabled', true);
                                    $("#current-resolution").text("");
                                });
                                });
                                
                                $( "#current-resolution" ).click(function() {
                                  var actResolution = $(this).text();
                                  $( "a[value='" + actResolution + "']" ).click();
                                });
                            </script>

    </body>
</html>
