<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="library_includes :: frontend_libraries" />
    <body>

        <div th:replace="header_navigation :: header_nav"></div>
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dimensionBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{webcam.choose_resolution}">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dimensionBtn">
                            <a th:each="i : ${dimensions}" href="#" class="dropdown-item" th:id="${'dd-dimension-' + i}" th:text="${i}" th:value="${i}"></a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button disabled th:id="webcam-reload" class="btn btn-primary btn-lg">
                        <i th:id="reload-image-icon" class="fa fa-sync-alt fa-lg"></i>
                        <a id="last-resolution"></a>
                    </button>
                </li>
            </ul>
        </nav>

        <p>
            <img id="camPreview" src="" />
        </p>


        <script th:inline="javascript">

            $('body').on('click', '.dropdown-item', function (e) {
                var t = $(this);
                var dimension = t.attr("value");
                var camNumber = $('#camNumber').text();
                var postUrl = "/webcams/image";

                $("#reload-image-icon").addClass("fa-spin");
                $("#dimensionBtn").prop('disabled', true);
                $("#webcam-reload").prop('disabled', true);
                console.log('calling getImage with:' + dimension + camNumber);

                $.ajax({
                    url: postUrl,
                    method: 'POST',
                    cache: false,
                    data: {
                        dimension: dimension,
                        camNumber: camNumber
                    }
                })
                        .done(function (data) {
                            console.log("Successful loading image from webcam");
                            document.getElementById("camPreview").src = "data:image/png;base64," + data;
                        })
                        .fail(function (xhr, ajaxOptions, thrownError) {
                            console.log("Error while loading image from webcam");
                        })
                        .always(function () {
                            $("#webcam-reload").prop('disabled', false);
                            $("#dimensionBtn").prop('disabled', false);
                            $("#last-resolution").text(dimension);
                            $("#reload-image-icon").removeClass("fa-spin");
                        });
            });

            $("#webcam-reload").click(function () {
                var resolution = $("#last-resolution").text();
                $("a[value='" + resolution + "']").click();
            });
        </script>

    </body>
</html>
